.page {
  /* Свойство я убрал, надеюсь ничего не сломается */
  margin: 0 auto;
  font-size: 18px;
  line-height: 23.4px;
  font-style: normal;
  font-weight: normal;
  font-family: "IBM Plex Mono", sans-serif;
  background-image: var(--main-picture);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
.header {
  block-size: 100vh;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-bottom: 38px;
}
.header__theme-menu {
  margin-block-start: 51px;
  display: grid;
}
.header__theme-menu-list {
  justify-self: end;
  gap: 12px;
}
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  margin-top: 12.8px;
  padding: 0px 12px;
  color: var(--accent-title-color);
  text-transform: lowercase;
  cursor: pointer;
}
.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}
.header__theme-menu-button_active {
  border: 1px solid var(--button-hover-color);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-title-color);
}
.header__dot {
  display: block;
  color: var(--accent-title-color);
  justify-self: end;
  align-self: start;
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: 10px;
}
.header__dot::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-title-color);
  box-shadow: 0 0 4px 2px var(--accent-title-color);
  position: absolute;
  left: 43px;
  top: 7px;
}
.decorated-zone {
  position: relative;
}
.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  border-block-start: 1px solid var(--accent-title-color);
  border-inline-end: 1px solid var(--accent-title-color);
  inset-inline-end: 11px;
  inset-block-start: 10px;
}
.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  border-inline-start: 1px solid var(--accent-title-color);
  border-block-end: 1px solid var(--accent-title-color);
  inset-block-end: 10px;
  inset-inline-start: 9px;
}
.title-decor {
  background-color: var(--title-decor-color);
}
.header__title {
  color: var(--header-text-color);
  font-size: var(--header-fs-mobile);
  line-height: 83%;
  position: relative;
  text-shadow: 4px 4px 0 var(--text-shadow-color);
}
.header__text {
  font-weight: bold;
  color: var(--subtitle-text-color);
  height: min-content;
  margin-top: 55px;
}
.content {
  display: grid;
  gap: 50px;
  padding-inline: 10px;
}
.content__text {
  padding-top: 10px;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--text-shadow-color);    /* Сделанно, ивините что раньше не заметил дубликат */
}
.content__text__title {
  font-size: 18px;
  color: var(--subtitle-text-color);
  margin-top: 20px;
}
/* Я не удалил эти параметры, переделал их под новый селектор, выполненно */
.font-low {
  font-size: 18px;
  font-weight: normal;
  color: var(--subtitle-text-color);
}
.content__text:not(:last-child) {
  margin-bottom: 20px;
}
.tips {
/* Убрал */
  gap: 20px;
}
.article__title {
  font-size: 18px;
  color: var(--accent-title-color);
}
.article__block__title {
  color: var(--subtitle-text-color);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}
.article__block__title:not(:last-of-type) {
  margin-top: 20px;
}
.content__texts {
  display: grid;
}
.pics {
  margin-bottom: 10px;
}
.content-section_pics {
  display: grid;
  gap: 10px;
}
.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  min-height: 668px;
  block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.footer__text {
  font-weight: 700;
  color: var(--header-text-color);
  text-shadow: 2px 2px 0 var(--text-shadow-color);
  font-size: var(--header-fs-mobile);
  line-height: 83%;
}
@media (min-width: 768px) {
  .header {
    padding: 20px 20px;
    margin-block-end: 60px;
  }
  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
  .decorated-zone::after {
    inset-block-end: 19px;
    inset-inline-start: 20px;
  }
  .header__dot {
    inset-inline-end: 48px;
    inset-block-start: 22px;
  }
  .header__theme-menu-list {
    margin-block-start: 108px;
  }
  .header__title {
    /* Сделанно */
    inset-inline-start: -20px;
    font-size: var(--header-fs-desk);
  }
  .header__text {
    width: 50%;
    height: min-content;
    justify-self: end;
    margin-top: 161px;
    /* izmenil na margin, sdelanno */
  }
  .content {
    gap: 59px;
    padding-inline: 20px;
    margin-block-end: 51px;
  }
  .content__part {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .content__text__title {
    margin-top: 0px;
  }
  .content__texts {
    grid-row-start: 2;
    grid-column: span 2;
  }
  .article__block__title:not(:last-of-type) {
    margin-top: 0px;
  }
  .content__text {
  margin-bottom: 20px;
  }
  .article__title {
    margin-bottom: 20px;
    margin-block-end: 20px;
  }
  .pics {
    .article__block__title {
      grid-column: span 2;
    }
  }
  .content-section_pics {
    grid-template-areas:
      "sunset sunset ice"
      "tape books ice"
      "tape street street";
    grid-column: span 2;
    gap: 20px;
    margin-top: 10px;
  }
  .sunset {
    grid-area: sunset;
  }
  .ice {
    grid-area: ice;
  }
  .tape {
    grid-area: tape;
  }
  .books {
    grid-area: books;
  }
  .street {
    grid-area: street;
  }
  .footer__text {
    font-size: var(--header-fs-desk);
  }
}
@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
    margin-block-start: -121px;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }
  .header__text {
    top: 58px;
  }
  .content__part {
    column-gap: 10px;
  }

  .content__texts {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer__text {
    font-size: 157px;
  }
}